extends layout

block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FoundationExpress
    link(rel='stylesheet', href='/javascripts/vendor/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Contrail+One')
    script(src='/javascripts/vendor/modernizr/modernizr.js')
block header
  .row
    .large-12.medium-12.columns.headerContents
      .medium-2.small-2.columns.bigDisplay.mediumDisplay.smallDisplay
        .headerHeader
          h3 trimbl
      .medium-10.small-10.columns.mediumDisplay.smallDisplay.phoneMenu
        div(ng-controller='accordionController', ng-model='oneAtATime')
          accordion(close-others='true')
            accordion-group
              accordion-heading
                .headerHeader.menuHeader
                  i.right.fa.fa-fix(ng-class='{"fa-chevron-down": isopen, "fa-chevron-right": !isopen}')
                  h3 about
              | 
              .aboutMenuPhone
                span.bold Who are you?
                br
                | I'm a Computer Science undergrad at NC State fininishing up my final year, as well as a member of WKNC-FM (right now, I'm their live sound guy).  I'm the webmaster of the Caldwell Fellows and a Red Hat webdev intern.  I also play guitar in the slow/sad/psych band Less Western.
                br
                br
                span.bold Why did you start trimbl?
                br
                | trimbl started as a class entrepreneurship project.  It exists for a few reasons, but mainly because I love local music, and I wanted to create a single place that you could go to to read various opinions about what is going on in the Triangle.
                br
                br
                span.bold How do I get my blog on trimbl?
                br
                | First of all, thanks so much for your interest in becoming a part of this online space!  As of right now, I'm focusing on (among other things) developing how this site can best serve the four blogs that are currently being aggregated, from a technical standpoint, as well as part of the mission and vision I set out to accomplish with this site.
                br
                br
                | That being said, please email trimbl dot og at gmail dot com with "add my blog" somewhere in the subject, so I can learn more about you and your blog.  In the next few months, I plan on adding new content sources, and knowing that you exist and are interested are two ways that you can be the next partner in the aggregate.
                br
                br
                span.bold When will trimbl review my record?
                br
                | While trimbl contains many reviews of local artists such as yourself, none of the content was produced by me; I just aggregate it.  Your best bet is sending your stuff to one of our partner blogs that accepts solicited demos (The Bottom String, Triangle Beat, and City Daze).
                br
                br
                span.bold I have a really cool idea or found a bug, how do I let that be known?
                br
                | If you want to be extremely helpful, report it in GitHub (this requires you to make an account).  If it's a bug tag it with "bug", and if it's a feature request tag it with "feature request".
                br
                br
                | If creating another online account bums you out, or GitHub seems like an overly-technical, scary place (it's not, I promise), you can shoot me an email with "bug"/"feature request" somewhere in the subject line to trimbl dot og at gmail dot com.
                br
                br
                | Note: the best way to follow the progress of the fix or addition is through GitHub, so the first way is highly recommended.
                br
                br
                span.bold What else is trimbl besides a place to read 4 blogs' posts?
                br
                | trimbl is a very new thing, so not much, but there's a lot of cool things coming.  Follow us on twitter @trimbl_og to find out about a bunch of new stuff.
                br
                br
                span.bold What's coming in the next iteration for trimbl?
                br
                | The ability to click through the next relevant post from the full view of each blog partner's website.  In other words, I'll have a bar at the top of the page similar to StumbleUpon to allow you to see and click through to new relevant posts, while allowing you to see the post in the actual blog it came from.
                br
                br
                span.bold How do I get involved with developing the site?  What can I take from you?
                br
                | Shoot an email to trimbl dot og at gmail dot com with "developer" somewhere in the subject line, and a little bit about what you want to do, and I'll help you get to the point where you can do it.
                br
                br
                br
                | The source code is released under the MIT license, so feel free to fork and redistribute as you see fit, without my permission.
                br
                br
                | Note that all branding and design (the logo and name, specifically) are not covered under the MIT license, so do not use them without permission.
                br
                br
                span.bold At a high-level, how does trimbl work?
                br
                | All blogs send trimbl JSON data about new posts through the blogger api or a wordpress plugin twice a day (and updates to old posts are check every other day).  That JSON is then parsed and sent to a MongoDB schema, either updating an old document, or creating a new one.  When you search for an artist, the schema is queried and returns all relevant documents that contain your search term in either the title or content fields.  Then, I display those posts for you to read/click on.
                br
                br
                span.bold How do I advertise on trimbl/will you put something about my non-profit in the non-profit space?
                br
                | I'm still trying to figure out how to best support ads, while maintaining a level of relevance and usefulness to the users of trimbl.  If you have an interesting idea on how you'd like to advertise, or just want to let me know that you are interesting in having an ad up once they are supported on trimbl, shoot me an email at trimbl dot og at gmail dot com.
                br
                br
                | If your non-profit (or specific event, project, etc.) is relevant, sure!  Send an email with "non-profit" somewhere in the subject line to triml dot og at gmail dot com.
                br
                br
                br


block content
  .row
    .large-3.sideMenu.columns.bigDisplay.sideBox
      .sideMenuContent
        div(ng-controller='accordionController', ng-model='oneAtATime')
          accordion(close-others='true')
            accordion-group
              accordion-heading
                | ABOUT
              | 
              span.bold Who are you?
              br
              | I'm a Computer Science undergrad at NC State fininishing up my final year, as well as a member of WKNC-FM (right now, I'm their live sound guy).  I'm the webmaster of the Caldwell Fellows and a Red Hat webdev intern.  I also play guitar in the slow/sad/psych band Less Western.
              br
              br
              span.bold Why did you start trimbl?
              br
              | trimbl started as a class entrepreneurship project.  It exists for a few reasons, but mainly because I love local music, and I wanted to create a single place that you could go to to read various opinions about what is going on in the Triangle.
              br
              br
              span.bold How do I get my blog on trimbl?
              br
              | First of all, thanks so much for your interest in becoming a part of this online space!  As of right now, I'm focusing on (among other things) developing how this site can best serve the four blogs that are currently being aggregated, from a technical standpoint, as well as part of the mission and vision I set out to accomplish with this site.
              br
              br
              | That being said, please email trimbl dot og at gmail dot com with "add my blog" somewhere in the subject, so I can learn more about you and your blog.  In the next few months, I plan on adding new content sources, and knowing that you exist and are interested are two ways that you can be the next partner in the aggregate.
              br
              br
              span.bold When will trimbl review my record?
              br
              | While trimbl contains many reviews of local artists such as yourself, none of the content was produced by me; I just aggregate it.  Your best bet is sending your stuff to one of our partner blogs that accepts solicited demos (The Bottom String, Triangle Beat, and City Daze).
              br
              br
              span.bold I have a really cool idea or found a bug, how do I let that be known?
              br
              | If you want to be extremely helpful, report it in GitHub (this requires you to make an account).  If it's a bug tag it with "bug", and if it's a feature request tag it with "feature request".
              br
              br
              | If creating another online account bums you out, or GitHub seems like an overly-technical, scary place (it's not, I promise), you can shoot me an email with "bug"/"feature request" somewhere in the subject line to trimbl dot og at gmail dot com.
              br
              br
              | Note: the best way to follow the progress of the fix or addition is through GitHub, so the first way is highly recommended.
              br
              br
              span.bold What else is trimbl besides a place to read 4 blogs' posts?
              br
              | trimbl is a very new thing, so not much, but there's a lot of cool things coming.  Follow us on twitter @trimbl_og to find out about a bunch of new stuff.
              br
              br
              span.bold What's coming in the next iteration for trimbl?
              br
              | The ability to click through the next relevant post from the full view of each blog partner's website.  In other words, I'll have a bar at the top of the page similar to StumbleUpon to allow you to see and click through to new relevant posts, while allowing you to see the post in the actual blog it came from.
              br
              br
              span.bold How do I get involved with developing the site?  What can I take from you?
              br
              | Shoot an email to trimbl dot og at gmail dot com with "developer" somewhere in the subject line, and a little bit about what you want to do, and I'll help you get to the point where you can do it.
              br
              br
              br
              | The source code is released under the MIT license, so feel free to fork and redistribute as you see fit, without my permission.
              br
              br
              | Note that all branding and design (the logo and name, specifically) are not covered under the MIT license, so do not use them without permission.
              br
              br
              span.bold At a high-level, how does trimbl work?
              br
              | All blogs send trimbl JSON data about new posts through the blogger api or a wordpress plugin twice a day (and updates to old posts are check every other day).  That JSON is then parsed and sent to a MongoDB schema, either updating an old document, or creating a new one.  When you search for an artist, the schema is queried and returns all relevant documents that contain your search term in either the title or content fields.  Then, I display those posts for you to read/click on.
              br
              br
              span.bold How do I advertise on trimbl/will you put something about my non-profit in the non-profit space?
              br
              | I'm still trying to figure out how to best support ads, while maintaining a level of relevance and usefulness to the users of trimbl.  If you have an interesting idea on how you'd like to advertise, or just want to let me know that you are interesting in having an ad up once they are supported on trimbl, shoot me an email at trimbl dot og at gmail dot com.
              br
              br
              | If your non-profit (or specific event, project, etc.) is relevant, sure!  Send an email with "non-profit" somewhere in the subject line to triml dot og at gmail dot com.
              br
        .otherLinks
          h6
            a(href="https://github.com/jlmitch5/trimbl", target="_blank") SOURCE
          h6 
            a(href="https://twitter.com/trimbl_og", target="_blank") TWITTER
          br
      .sideNonProfHeader
        h3 Non-profit of the Week
      .sideNonProf
        a(href="http://bandtogethernc.org", target="_blank")
          img(src='/images/bandTogether.jpg')
    .large-9.medium-12.small-12.columns.postsBox.bigDisplay.mediumDisplay.smallDisplay
      .cityDazePost
        h3 HANGOUT: Less Western
        a(href='http://citydazemusic.com/wp-content/uploads/2014/05/IMG_20140429_205701.jpg')
          img.size-medium.wp-image-684.alignleft(src='http://citydazemusic.com/wp-content/uploads/2014/05/IMG_20140429_205701-300x300.jpg', alt='IMG_20140429_205701', width='300', height='300')
        p Kevin Sweeney says he has an “obsession with weaving guitar lines, delay, and reverb.” “
          a(href='http://lesswestern.bandcamp.com/album/ghost') Nothing
          | ,” the first track he wrote as Raleigh’s atmospheric
          a(href='https://www.facebook.com/lesswestern') Less Western
          | , begins with a sparse overdriven guitar before it blooms into that fixation. All at once creeping drums, dense bass, and fuzzed out guitar crash in, and then Sweeney’s swimming vocals finish out the wall of sound. It’s a faded, psych-shoegaze that creates its own time and space. He wrote it in the Spring of last year and it opens up Less Western’s first ep,
          em
            a(href='http://lesswestern.bandcamp.com/album/ghost') Ghost
            | .
          | Self-recorded, under the glow of Christmas lights, from Durham bedsides to NC State dormrooms, Sweeney self-released
          em Ghost 
          | last June. After recruiting John Mitchell (who Sweeney had previously worked with in the almost realized surfy, slacker Raleigh outfit
          a(href='http://coldcurrents.bandcamp.com/') Cold Currents
          | ) on guitar, John Kovalchik (
          a(href='https://www.facebook.com/CatBeDamned') Cat Be Damned
          | ) on drums, and Chris Bennett (
          a(href='https://www.facebook.com/GhosttBllonde') Ghostt Bllonde
          | ) on bass , Sweeney debuted Less Western as a full band at the Mattress Fort that December. Since then, Sweeney’s songwriting has grown more confident, his obsession more enthusiastic. On “
          a(href='http://lesswestern.bandcamp.com/album/the-broadcast-demo') Broadcast
          | ” from this April’s
          em the Broadcast Demo, 
          | Mitchell’s angsty riffs are broken by glittering guitar melodies and Sweeney shifts his vocals to a lighter range. Subtle “ahs” spin in layers of dreamy reversed delays, the warmth of it overwhelmingly optimistic.  It’s a pretty turn from the darkness of “Nothing,” which is also the only track from
          em Ghost
          | that Less Western plays now live.  But no matter what direction Sweeney takes, he recommends that Less Western is to best be enjoyed while participating in social media shit.
        hr
        p
          strong First show I saw in the triangle:
          | I saw
          a(href='http://en.wikipedia.org/wiki/Rush_(band)') Rush
          | at Walnut Creek Amphitheater. I saw them back in 8
          sup th
          | grade and it was the first live thing I’d ever seen. It blew my mind. It was loud and there was all these lights. I remember there were a lot of old people there in their old Rush shirts and it smelled like weed at some places. I was young, seeing Rush, hanging out on the lawn.
        p
          strong Favorite rapper:
          | I used to be really big into Eminem, Lil Jon and the East Side Boys, Snoop Dog, Ludacris, Chingy. That was back in like 5
          sup th
          | grade.
        p
          iframe(src='//www.youtube.com/embed/GmKjTC8yDFM', width='420', height='315', frameborder='0', allowfullscreen='allowfullscreen')
        p
          strong Morning routine:
          | Wake up, look at the
          a(href='https://twitter.com/lesswestern') Twitter
          | , make sure nothing good happened on there overnight, see if I got fav’d, put on some clothes, and walk out the door.
        p
          strong My first pet:
          | Kelsey the cat. It was a good cat, a black and white cat. One time it ran away and came back on my 7
          sup th
          | birthday. It was gone for like a week, we thought it was dead. Then it died in a creek. I think it got bit by a snake. We buried it in the backyard. That was my first pet. But I think my dad found Kelsey dead. He’s always finding the dead cats, that’s what he does. When the last cat died, he also found it. He keeps having to deal with dead cats.
        p
          strong The state I’d like to live in:
          | New Mexico. There’s not a lot of people. There’s a whole lot of nothing and it’s hot. The first time I went there I thought it was the coolest state I’d ever been in because I’d never seen anything like that. There’s no trees. It’s just all dirt and mountains and I thought that was super cool. And the buildings were all in that weird style. They were tan but they weren’t tall. I don’t even know how to describe that shit.
        p
          strong Favorite music video:
          | I don’t know, the one
          a(href='https://www.facebook.com/waltlilly?fref=ts') Walt
          | just made for our own band.
          iframe(src='//www.youtube.com/embed/mdC21nYIgc8', width='560', height='315', frameborder='0', allowfullscreen='allowfullscreen')
        p
          strong Best thing that’s happened in 2014:
          | Something good has had to happen this year right? Well I made 100 on a test. A Heat Transfer Fundamentals test.
        p
          strong My dream job:
          | I want to be a chef, but I also want to be in the band full time but also do engineering because that’s stable, and I also want to fly airplanes too. I used to want to be a pilot when I was a kid. That’s all I wanted to be. Pilot/chef/engineer that’s in a band that tours most of the year. That sounds about right. Is that OK?
        p
          strong If I was on a reality show:
          | I don’t know if you remember this but there used to be this reality show called
          a(href='https://www.youtube.com/watch?v=6CYxJ-S6MMI') Rockstar: INXS 
          | and you got to be the new front man of INXS. That was back in the day. I used to want to be on that. But now I’d be on one of those cooking shows and try to make real shitty food.
        p
          strong Favorite thing to cook:
          | I don’t cook real food so I don’t have to do too much. I just make desserts. I’ve only made one cheesecake in my life and I was real good at it.
        p
          strong First Youtube video I uploaded:
          | “The Man Who Sold the World” by David Bowie. I was in 7
          sup th
          | grade. Me and my friend Robert covered it. I used to have some up that I deleted. It would be me by myself in my room covering Pink Floyd but then a friend of mine quoted me as seeming “mentally slow,” but that was before he knew me. Just from the way I sung and stuff. People told me i sounded like a robot.
        p
          iframe(src='//www.youtube.com/embed/x26_BHZtPzs', width='420', height='315', frameborder='0', allowfullscreen='allowfullscreen')
        p
          strong Favorite video game:
          a(href='http://en.wikipedia.org/wiki/Gears_of_War') Gears of War
          | . It owned my life in 8
          sup th
          | and 9
          sup th
          | grade. That summer I didn’t do anything except play Gears of War everyday all day through the daylight hours. I would play online and I’d just kill people and that summer was good because of that.
        p
          strong Last best show I’ve seen:
          | This year is the first year I’ve done this but I’ve been writing my thoughts on every show I attend and I’ve been making a ranked list. I’m just trying to organize my thoughts. It was back a couple of months ago when I saw
          a(href='http://catelebon.com/') Cate le Bon
          | at the Cat’s Cradle backroom. I walked out of that show feeling really, really good. I didn’t know too much about Cate le Bon because I’d gone there to see
          a(href='https://www.facebook.com/kevinrobertmorby') Kevin Morby
          | who was the opener. But the sound in the room was so good. Nothing was too loud, nothing sounded too crazy. She has some really talented musicians. And there weren’t too many people there. That’s the problem with shows now. When I go and see a band like
          a(href='http://deerhuntertheband.blogspot.com/') Deerhunter
          | or
          a(href='https://www.facebook.com/pages/Mac-DeMarco/301768729858252') Mac Demarco
          | and I don’t even have space to move. So I can’t get into it as much. But Cate le Bon was a good show because I had space to move and it sounded really good.
        p
          strong First album I bought with my own money:
          | If I remember correctly I went to WalMart with my dad and bought
          em Californication
          | by Red Hot Chili Peppers around the time it came out. I was so excited. Well I was confused at first when I put on the first track and he was rapping and stuff. But that was it. I bought it because me and my cousin were super into the video for “Californication.”
        p
          iframe(src='//www.youtube.com/embed/YlUKcNNmywk', width='420', height='315', frameborder='0', allowfullscreen='allowfullscreen')
        p
          strong If I could be anyone from history:
          | I think it’d be cool to be like one of them Issac Newton people, defining the laws of physics. I like physics though, so I think that would be really cool. Or Albert Einstein for astrophysics. I’d look cooler for this interview if I picked some artsy person from the mid-century but I don’t know anyone.
        p
          strong Worst movie I’ve ever seen:
          | Freddy Got Fingered. It’s a Tom Green movie. My friend made me watch it. The reception was so bad that it swept the
          a(href='http://en.wikipedia.org/wiki/Golden_Raspberry_Awards') Golden Raspberry awards
          | . It’s a comedy but it’s not funny. It’s too offbeat and weird but I think everyone should watch it. There’s a scene in it where he’s got sausages hanging from the ceiling and they’re tied to his fingers while he plays a piano. That’s all you need to see to know that’s the worst movie you’ll ever see.
          iframe(src='//www.youtube.com/embed/8ZYrutVyZ-A', width='560', height='315', frameborder='0', allowfullscreen='allowfullscreen')
        p
          strong My last best purchase:
          | This plant I got from Home Depot because it gives the room good vibes. Or maybe it was a TV antenna because now I can watch daytime, like Who Wants to Be a Millionaire and Jeopardy. That’s all I live for. My trivia shows.
        p
          strong Dream collaboration:
          | Well I sent this message to Alex Caulder (
          a(href='https://www.facebook.com/Moldboyband') Mold Boy
          | ) on Facebook one time. He used to collaborate with Mac Demarco.
        blockquote
          p
            | “hey alex I just wanna let you know that what you’re doing it is very cool. i love some good psych pop but also shoegazey.   ya’ll canada artists do it right. one day I hope you and each other will tour the US together. but also you should bring along monomyth and faux fur. it’s like a crazy 4 band tour that I know will sell out the hottest exclusive venues on the east coast like Madison square garden. when you make your inevitable stop in raleigh, nc you should request myShit non canadian band to open for the 4 band show. then it will be a 5 band show. then I’ll ask jackson scott to also play and it’ll be 6 bands and it’ll be like a little festival.”
        hr
        p
          | See Less Western with Durham’s
          a(href='https://www.facebook.com/pinkflagnc') Pink Flag
          | and Wilmington’s
          a(href='https://www.facebook.com/museummouthband') Museum Mouth
          | at Legends tomorrow night for Let Feedback Ring. Come at 7. Bring $5. Click
          a(href='https://www.facebook.com/events/1406312669636486/?ref=br_tf') here
          | for event info.


block footer
  .row
    .large-12.medium-12.columns.footerContents.mediumDisplay.smallDisplay
      .large-8.medium-12.columns.partnerBlogs
        .row
          .large-3.medium-3.small-3.columns
              img(src='/images/theBottomString.png')
          .large-3.medium-3.small-3.columns
              img(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png')
          .large-3.medium-3.small-3.columns
              img(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png')
          .large-3.medium-3.small-3.columns
              img(src='/images/triangleBeat.png')
      .large-4.medium-12.columns
        .row
          .panel.footer-right
            h5 woo!
    .large-12.medium-12.columns.footerContents.bigDisplay
      .large-8.medium-12.columns.partnerBlogs
        .row
          .large-3.medium-3.small-3.columns
            .footer-img
              img(src='/images/theBottomString.png')
          .large-3.medium-3.small-3.columns
            .footer-img
              img(src='/images/theBottomString.png')
          .large-3.medium-3.small-3.columns
            .footer-img
              img(src='/images/theBottomString.png')
          .large-3.medium-3.small-3.columns
            .footer-img
              img(src='/images/triangleBeat.png')
        .row.full-height
          .large-3.medium-3.small-3.columns.full-height
            .panel.footer-link
              a(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png') The Bottom String
          .large-3.medium-3.small-3.columns.full-height
            .panel.footer-link
              a(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png') citydaze
          .large-3.medium-3.small-3.columns.full-height
            .panel.footer-link
              a(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png') Fabricoh
          .large-3.medium-3.small-3.columns.full-height
            .panel.footer-link
              a(src='http://www.ianpoulter.com/wp-content/uploads/2012/07/circle-white.png') Triangle Beat
      .large-4.medium-12.columns
        .row
          .panel.footer-right
            h5 trimbl was created in the Spring of 2014 by John Mitchell.  Special thanks to reddit.com/r/node, and all the partner blogs!
    .large-12.medium-12.columns.footerHeader
      .large-8.medium-12.columns.bigDisplay
        .row
          h3 partners
      .large-4.columns.bigDisplay.mediumDisplay
        .row
          h3 about
  script(src='/javascripts/vendor/angular/angular.min.js')
  script(src='/javascripts/vendor/angular-foundation-bower/mm-foundation-tpls.min.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/angular-controller.js')
  script(src='/javascripts/vendor/fastclick/lib/fastclick.js')
  script(src='/javascripts/vendor/jquery/dist/jquery.min.js')
  script(src='/javascripts/vendor/jquery.cookie/jquery.cookie.js')
  script(src='/javascripts/vendor/foundation/js/foundation.min.js')